body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.3;
  color: #9a9494;
  background: #ffffff;
  width: 300px;
  min-height: 200px;
  overflow: auto;
  margin: 15px 20px;
}

.hide {
  display: none;
}

.not-logged {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000000;
  height: 200px;
}

.loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ffffff;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #982f43;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  -webkit-animation: spin 0.6s linear infinite;
  -moz-animation: spin 0.6s linear infinite;
  animation: spin 0.6s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.text-login {
  margin: 0;
  font-size: 13px;
}

.btn-login {
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #982f43e6;
  border-radius: 10px;
  border: none;
  padding: 12px;
  cursor: pointer;
  width: 100%;
}

.btn-login:hover {
  background: #982f43;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.container-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.course-name {
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  width: 100%;
  padding-right: 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.not-logged .course-name {
  padding: 0;
}

.close-popup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.close-popup:hover {
  background: #eee;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header {
  display: flex;
  flex-direction: row;
  margin: 25px 0;
}

.tab {
  margin-right: 10px;
  padding: 4px 0;
}

.options {
  font-size: 12px;
  color: #a6a6a9;
  background: #eee;
  border-radius: 7px;
  padding: 4px 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.options:hover {
  background: #e6e6e6;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info-course li {
  font-weight: 600;
  font-size: 13px;
  color: #9a9494;
  padding: 14px 0;
  border-bottom: 1px dashed #d9d9dc;
}

.info-course li:first-child {
  padding-top: 0;
}

.info-course li:last-child, .payments li:last-child {
  border: none;
  padding: 14px 0 5px;
}

.info-course li span {
  font-weight: 500;
  float: right;
}

.payments li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #9a9494;
  padding: 14px 0;
  border-bottom: 1px dashed #d9d9dc;
}

.payments li:first-child {
  padding-top: 20px;
}

.payment-status {
  font-size: 13px;
  color: #9a9494;
  padding: 0 0 5px;
}

.payment-stage {
  flex: .2;
  margin-right: 20px;
}

.payment-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: .8;
}

.payment-link {
  margin-left: 5px;
  cursor: pointer;
  text-decoration: underline;
}

input[type='radio'] {
  display: none;
}

input[type='radio']:checked ~ .options {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 2px solid #982f4394;
  cursor: default;
  pointer-events: none;
}

.container-options-calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 17px;
}

.text-options-calendar {
  font-size: 13px;
  color: #9a9494;
  margin: 0;
}

.month-calendar {
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  padding: 14px 0;
  text-transform: capitalize;
}

.month-calendar:first-child {
  padding-top: 0;
}

.item-calendar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 0;
}

.date-calendar {
  font-weight: bold;
  font-size: 14px;
  color: #9a9494;
  background: #eee;
  border-radius: 50px;
  margin-right: 15px;
  padding: 5px;
}

.date-calendar-today {
  color: #ffffff;
  background: #982f43;
}

a {
  text-decoration: underline;
  cursor: pointer;
}
